<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.Mapper">

	<!-- 优先清理不常用缓存,每半小时刷新一次,最大存储1024个地址,缓存是只读的 -->
	<cache eviction="LRU" flushInterval="1800000" size="1024" readOnly="true"/>

	<!-- 遍历map -->
	<!-- 日期格式的转换,时间段的查询 -->
	<sql id="sql_map">
		<if test="null!=map">
			<trim prefixOverrides="AND" suffixOverrides="AND">
				<foreach collection="map.keys" item="key" open="AND" close="AND" separator="AND">
					${key} LIKE CONCAT('%',#{map[${key}]},'%')
				</foreach>
			</trim>
		</if>
		AND ${prefix}_del_flag=TRUE
	</sql>

	<insert id="add">
		INSERT INTO ${table}
		<if test="null!=map">
			<foreach collection="map.keys" index="index" item="key" open="(" close=")"
				separator=",">
				${key}
			</foreach>
		</if>
		VALUES
		<if test="null!=map">
			<foreach collection="map.keys" index="index" item="key" open="(" close=")"
				separator=",">
				#{map[${key}]}
			</foreach>
		</if>
		;
	</insert>

	<insert id="addList">
		INSERT INTO ${table} (u_name,u_pwd,u_email)VALUES
		<foreach collection="list" item="model" open="(" close=")" separator="),(">
			${model.u_name},#{model.u_pwd},#{model.u_email}
		</foreach>
		;
	</insert>

	<delete id="del">
		UPDATE ${table} SET ${prefix}_del_flag=FALSE WHERE ${prefix}_del_flag=TRUE AND
		<if test="null!=map">
			<trim prefixOverrides="AND" suffixOverrides="AND">
				<foreach collection="map.keys" index="index" item="key" open="AND" close="AND"
					separator="AND">
					${key} = #{map[${key}]}
				</foreach>
			</trim>
		</if>
		;
	</delete>

	<delete id="delList">
		DELETE FROM ${table} WHERE ${primary} IN
		<if test="ids!=null">
			<foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
		;
	</delete>

	<update id="update">
		UPDATE ${table}
		<set>
			<if test="null!=map">
				<trim prefixOverrides="and" suffixOverrides="and">
					<foreach collection="map.keys" index="index" item="key" open="and" close="and"
						separator=",">
						${key} = #{map[${key}]}
					</foreach>
				</trim>
			</if>
		</set>
		<where>
			${primary}=#{valueId}
		</where>
		;
	</update>

	<select id="selectOne" resultType="HashMap">
		SELECT * FROM ${table}
		<where>
			<if test="map!=null">
				<trim prefixOverrides="and" suffixOverrides="and">
					<foreach collection="map.keys" item="key" open="and" close="and" separator="and">
						${key}=#{map[${key}]}
					</foreach>
				</trim>
			</if>
		</where>
		LIMIT 1;
	</select>

	<select id="selectTotal" resultType="Integer" useCache="false">
		SELECT COUNT(1) FROM ${table}
		<where>
			<include refid="sql_map"></include>
		</where>
		;
	</select>

	<!-- 重要： 这会导致潜在的SQL注入攻击 -->
	<select id="selectList" resultType="HashMap" useCache="false">
		SELECT ${columns} FROM ${table}
		<where>
			<include refid="sql_map"></include>
		</where>
		<if test="null!=order">
			ORDER BY #{order}
		</if>
		<if test="0!=rows">
			LIMIT #{minPage},#{rows}
		</if>
		;
	</select>
</mapper> 